* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-1: #17e0a7;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo, sans-serif";
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 72px;
  font-size: larger;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
@media (max-width: 768px) {
  .header .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .header .main-nav > li > a {
    padding: 0 12px;
    font-size: 15px;
    height: 40px;
  }
  .header .logo {
    height: 40px;
  }
}
.welcome {
  position: relative;
}
.welcome::before {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.welcome .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.welcome .text {
  float: 1;
}
.welcome .text h1 {
  font-size: 40px;

  margin: 0;
  letter-spacing: -2px; /*تمنع الانكسار*/
}
.welcome .text p {
  font-size: 22px;
  line-height: 1.7;
  color: #666;
  max-width: 500px;
}
.welcome .image img {
  position: relative;
  width: 600px;
  max-width: 100%;
  animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@media (max-width: 992px) {
  .welcome .image img {
    display: none;
  }
  .welcome .text h1,
  .welcome .text p {
    font-size: 20px;
    text-align: center;
  }
  .welcome .text h1 {
    font-size: 28px;
    letter-spacing: -1px;
    margin-bottom: -10px;
  }
  .welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.container1 {
  width: 100%;
  position: relative;
}
.go-down i {
  color: var(--main-color);
  animation: bouncing 1.5s infinite;
}
.go-down {
  position: absolute;
  left: 50%;
  top: -50px;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
.mega-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 72px;
  right: 0;
  z-index: 50;
}
.mega-menu .image {
  position: absolute;
  z-index: 99;
  transform: translate(30px, 40px);
}
.mega-menu .image img {
  width: 250px;
  height: 250px;
  z-index: 99;
}
/*********/
.mega-x {
  background-color: white;
  position: relative;
  border: 3px red solid;
  border-color: transparent transparent var(--main-color) transparent;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.mega-x ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 30px;
}
.mega-x ul li {
  margin-left: 20px;
  font-size: 25px;
  display: flex;
  gap: 10px;
  color: var(--main-color);
  position: relative;
}
.mega-x ul li a {
  color: var(--main-color);
}
.mega-x ul li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background-color: #eee;
  bottom: -10px;
  left: -10px;
}
@media (max-width: 991px) {
  .mega-x ul li::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background-color: #eee;
    bottom: -10px;
    left: -10px;
  }
  .mega-x ul li {
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    gap: 5px;
    color: var(--main-color);
    position: relative;
  }
}

/**********************************************cont*/
.Main-title {
  margin: 100px auto;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.Main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.Main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.Main-title:hover {
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}
.Main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
}
.Main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}

.ARTICLES .container {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(2, 40%);
  grid-template-areas:
    "t1 t2"
    "t3 t4"
    "t5 t6"
    "t7 t8"
    "t9 t10";
}
.t-1 {
  grid-area: t1;
}
.t-2 {
  grid-area: t2;
}
.t-3 {
  grid-area: t3;
}
.t-4 {
  grid-area: t4;
}
.t-5 {
  grid-area: t5;
}
.t-6 {
  grid-area: t6;
}
.t-7 {
  grid-area: t7;
}
.t-8 {
  grid-area: t8;
}

.ARTICLES .container > div {
  margin-bottom: 20px;
  border-radius: 2%;
  overflow: hidden;
}
.ARTICLES .container > div .image {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
.ARTICLES .container > div {
  box-shadow: 2px 2px 4px #c1c1c1;
  position: relative;
}
.ARTICLES .container > div .image img {
  width: 100%;
  height: 100%;
}
.ARTICLES .container > div .text {
  margin-left: 10px;
  margin-bottom: 50px;
  position: relative;
}
.ARTICLES .container > div::before {
  content: "";
  position: absolute;
  height: 0.4px;
  width: 100%;
  background-color: #bbb;
  bottom: 60px;
}
.ARTICLES .container div > .text p {
  color: #adacac;
}
.ARTICLES .container div > .read-more {
  margin-left: 10px;
  padding-bottom: 20px;
  position: relative;
}
.ARTICLES .container div > .read-more::after {
  content: "";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  font-weight: 900;
  right: 5%;
  color: var(--main-color);
}
.ARTICLES .container div > .read-more a {
  color: var(--main-color);
  font-weight: bold;
}
.ARTICLES .container > div:hover .read-more::after {
  animation: right-move2 0.8s linear infinite;
}
@keyframes right-move2 {
  0% {
    left: 85%;
  }
  100% {
    left: 90%;
  }
}
@media (max-width: 768px) {
  .ARTICLES .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "t1"
      "t2"
      "t3"
      "t4"
      "t5"
      "t6"
      "t7"
      "t8";
  }
  .t-1 {
    grid-area: t1;
  }
  .t-2 {
    grid-area: t2;
  }
  .t-3 {
    grid-area: t3;
  }
  .t-4 {
    grid-area: t4;
  }
  .t-5 {
    grid-area: t5;
  }
  .t-6 {
    grid-area: t6;
  }
  .t-7 {
    grid-area: t7;
  }
  .t-8 {
    grid-area: t8;
  }
  .ARTICLES .container > div {
    width: 100%;
  }
  .ARTICLES .container > div .image {
    width: 100%;
  }
  .ARTICLES .container > div .image img {
    width: 100%;
  }
}
.ARTICLES .container > div {
  transition: all 1s;
}
.ARTICLES .container > div:hover {
  transform: translateY(-10px);
}
.GALLERY1 {
  padding-top: 20px;
  margin-top: 150px;
  background-color: #ececec;
  position: relative;
}
.GALLERY1 .icon i {
  font-size: 40px;
  margin-left: -2px;
  color: #ececec;
}
.GALLERY1 .icon {
  overflow-x: hidden;
  display: flex;
  position: relative;
  width: 100%;
  margin-top: -40px;
}
.GALLERY h2 {
  margin-top: 40px;
}
.GALLERY .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.GALLERY .container > div {
  width: 300px;
  height: 300px;
  background-color: white;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 2px 2px 4px #c1c1c1;
}
.GALLERY .container > div .image {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  overflow: hidden;
}
.GALLERY .container > div .image img {
  height: 100%;
  width: 100%;
  transition: var(--main-transition);
}
.GALLERY .container > div .image:hover img {
  transform: rotate(5deg) scale(1.1);
  width: 105%;
  height: 105%;
}
.GALLERY .container > * div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.222);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 444;
}
.GALLERY .container > * div:hover::before {
  animation: flashing 0.7s;
}

@media (max-width: 650px) {
  .GALLERY .container > div {
    width: 100%;
    height: 45vh;
    background-size: cover;
  }
  .GALLERY .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "e-1"
      "e-2"
      "e-3"
      "e-4"
      "e-5"
      "e-6";
  }
  .e1 {
    grid-area: e-1;
  }
  .e2 {
    grid-area: e-2;
  }
  .e3 {
    grid-area: e-3;
  }
  .e4 {
    grid-area: e-4;
  }
  .e5 {
    grid-area: e-5;
  }
  .e6 {
    grid-area: e-6;
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 200%;
    width: 200%;
  }
}
.FEATURES {
  margin-bottom: 100px;
}
.FEATURES .container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.FEATURES .container > div {
  height: 120vh;
  width: 50%;
  background-color: transparent;
  border: #666 1px solid;
  position: relative;
  margin: 3px;
  margin-bottom: 10px;
}
.FEATURES .container > div .image {
  width: 100%;
  height: 50%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.FEATURES .container > div .image img {
  width: 100%;
  height: 100%;
}
.FEATURES .container > div h3 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
.FEATURES .container > div .image::after {
  content: "";
  position: absolute;
  height: 150px;
  background-color: white;
  top: 280px;
  width: 100%;
  left: 0;
  transform: rotate(-20deg) scale(1.5);
  transition: all 0.3s;
}
.FEATURES .container > div:hover .image::after {
  transform: rotate(20deg) scale(1.5);
}
.FEATURES .container > .u1 .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2195f348;
  top: 0;
  left: 0;
}
.FEATURES .container > .u2 .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #17e0a746;
  top: 0;
  left: 0;
}
.FEATURES .container > .u3 .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f43f366a;
  top: 0;
  left: 0;
}
.FEATURES .container > div p {
  text-align: center;
  color: #828282;
  font-size: 21px;
  line-height: 1.6;
}
.FEATURES .container > div .more {
  text-align: center;
  margin-bottom: 10px;
}
.FEATURES .container > div .more h4 {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 30px;
  border: solid 3px var(--main-color);
  border-radius: 6%;
  color: var(--main-color);
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.FEATURES .container > div .more h4::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
}
.FEATURES .container > .u2 .more h4 {
  border: solid 3px var(--main-color-1);
  color: var(--main-color-1);
}
.FEATURES .container > .u3 .more h4 {
  border: solid 3px #f44036;
  color: #f44036;
}
.FEATURES .container > .u2 .more h4::after {
  background-color: var(--main-color-1);
}
.FEATURES .container > .u3 .more h4::after {
  background-color: #f44036;
}

.FEATURES .container > div:hover .more h4 {
  color: white;
}
.FEATURES .container > div:hover .more h4::after {
  width: 100%;
  height: 104%;
}
.FEATURES .container > div h3 {
  position: relative;
}

.FEATURES .container > div h3::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 130px;
  height: 3px;
  top: 50px;
}
.FEATURES .container > .u3 h3::before {
  content: "";
  position: absolute;
  background-color: #f44036;
  width: 130px;
  height: 3px;
}
.FEATURES .container > .u2 h3::before {
  content: "";
  position: absolute;
  background-color: var(--main-color-1);
  width: 90px;

  height: 3px;
}

@media (max-width: 992px) {
  .FEATURES .container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}
@media (max-width: 768px) {
  .FEATURES .container > div {
    width: 100%;
  }
  .FEATURES .container > div .image::after {
    transform: rotate(-20deg) scale(2.1);
  }
  .FEATURES .container > div:hover .image::after {
    transform: rotate(20deg) scale(2.1);
  }
  .FEATURES .container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas:
      "u-1"
      "u-2"
      "u-3";
  }

  .u1 {
    grid-area: u-1;
  }
  .u2 {
    grid-area: u-2;
  }
  .u3 {
    grid-area: u-3;
  }
}
.TESTIMONIALS {
  background-color: #ececec;
  padding-bottom: 50px;
  padding-top: 100px;
}
.TESTIMONIALS .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.TESTIMONIALS .container > div {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  box-shadow: 2px 2px 4px #c1c1c1;
  position: relative;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
}
.TESTIMONIALS .container > div h4 {
  font-size: 20px;
}
.TESTIMONIALS .container > div p {
  font-size: 17px;
  color: #666;
}
.TESTIMONIALS .container > div .icon i {
  color: yellow;
}
.TESTIMONIALS .container > div::after {
  content: "";
  position: absolute;
  background-color: #ecececed;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  top: -35px;
  right: -10px;
}
.TESTIMONIALS .container > div::before {
  content: "";
  position: absolute;
  background-image: url(../image/292-2921379_blank-face-clipart-clipart-muka-hd-png-download.png);
  background-size: cover;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  top: -25px;
  right: 0px;
}
@media (max-width: 760px) {
  .TESTIMONIALS .container > div {
    width: 100%;
  }
  .TESTIMONIALS .container > {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "w-1"
      "w-2"
      "w-3"
      "w-4"
      "w-5"
      "w-6";
  }
  .w1 {
    grid-area: w-1;
  }
  .w2 {
    grid-area: w-2;
  }
  .w3 {
    grid-area: w-3;
  }
  .w4 {
    grid-area: w-4;
  }
  .w5 {
    grid-area: w-5;
  }
  .w6 {
    grid-area: w-6;
  }
}
/********************************************************/
.TEAM-MEMBERS .containerx {
  padding: 100px;
  display: grid;
  gap: 70px;
  grid-template-areas:
    "r-1 r-2"
    "r-3 r-4"
    "r-5 r-6"
    "r-7 r-8";
}
.r1 {
  grid-area: r-1;
}
.r2 {
  grid-area: r-2;
}
.r3 {
  grid-area: r-3;
}
.r4 {
  grid-area: r-4;
}
.r5 {
  grid-area: r-5;
}
.r6 {
  grid-area: r-6;
}
.r7 {
  grid-area: r-7;
}
.r8 {
  grid-area: r-8;
}
.TEAM-MEMBERS .containerx > div {
  height: 70vh;
  width: 300px;
  background-color: #f3f3f3;
  position: relative;
  transition: all 1s;
  margin-bottom: 40px;
}
.TEAM-MEMBERS .containerx > div::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  transition: all 0.5s;
  border-radius: 4%;
}
.TEAM-MEMBERS .containerx > div:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a19e9e6b;
}
.TEAM-MEMBERS .containerx > div .image {
  transition: all 0.5s;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 275px;
  top: 15%;
  right: 20%;
  border-radius: 10px;
  overflow: hidden;
}
.TEAM-MEMBERS .containerx > div .image img {
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}
.TEAM-MEMBERS .containerx > div:hover .image img {
  filter: grayscale(100%); /*تغير لون الصورة الى البني*/
}

.TEAM-MEMBERS .containerx > div .icon {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  top: 30%;
  color: #666;
}
.TEAM-MEMBERS .containerx > div .icon i:hover {
  color: #2196f3;
}
.TEAM-MEMBERS .containerx > div .icon i {
  margin-bottom: 30px;
  cursor: pointer;
  z-index: 88;
}

.TEAM-MEMBERS .containerx > div .text h2 {
  color: var(--main-color);
  margin-bottom: -10px;
  transition: all 0.6;
}
.TEAM-MEMBERS .containerx > div:hover .text h2 {
  color: #666;
}
.TEAM-MEMBERS .containerx > div .text {
  position: absolute;
  top: 380px;
  left: 10px;
}
.TEAM-MEMBERS h2 {
  font-size: 20px;
}
.TEAM-MEMBERS .containerx > div .text {
  top: 80%;
}
@media (max-width: 820px) {
  .TEAM-MEMBERS .containerx {
    padding: 0px;
  }
  .TEAM-MEMBERS .containerx {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-areas:
      "r-1"
      "r-2"
      "r-3"
      "r-4"
      "r-5"
      "r-6"
      "r-7"
      "r-8";
  }
}
@media (max-width: 420px) {
  .TEAM-MEMBERS .containerx > div {
    width: 250px;
  }
  .TEAM-MEMBERS .containerx > div .image {
    width: 85%;
    height: 275px;
  }
}
@media (max-width: 760px) {
  .Main-title {
    font-size: 20px;
  }
}
/**************************************************/
#SERVICES .container > div {
  position: relative;
  height: 250px;
  width: 40%;
  background-color: white;
  overflow: hidden;
  transition: all 0.5s;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px #c1c1c1;
}
#SERVICES .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#SERVICES .container > div:hover {
  transform: translateY(-10px);
}

#SERVICES .container > div::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  right: 50%;
  width: 0%;
  height: 3px;
  transition: all 1s;
}
#SERVICES .container > div:hover::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  right: 50%;
  width: 100%;
}
#SERVICES .container > div::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  transition: all 1s;
}
#SERVICES .container > div:hover::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  width: 100%;
}

#SERVICES .container > div i {
  position: absolute;
  font-size: 60px;
  color: #adacac;
  top: 20%;
  right: 40%;
}
#SERVICES .container > div h3 {
  position: absolute;
  font-size: 25px;
  color: var(--main-color);
  top: 40%;
  right: 30%;
}
#SERVICES .container > div .num {
  position: relative;
}
#SERVICES .container > div .num p {
  position: absolute;
  bottom: -281px;
  left: 0;
  font-size: 30px;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
#SERVICES .container > div .num::after {
  content: "Details";
  position: absolute;
  bottom: -230px;
  right: 10px;
  color: var(--main-color);
  cursor: pointer;
}
#SERVICES .container > div .num::before {
  content: "";
  position: absolute;
  bottom: -251px;
  left: 0;
  height: 35px;
  width: 100%;
  font-size: 30px;
  background-color: #bbb;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 760px) {
  #SERVICES .container > div {
    width: 100%;
  }
  #SERVICES .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "c-1"
      "c-2"
      "c-3"
      "c-4"
      "c-5"
      "c-6";
  }
  .c1 {
    grid-area: c-1;
  }
  .c2 {
    grid-area: c-2;
  }
  .c3 {
    grid-area: c-3;
  }
  .c4 {
    grid-area: c-4;
  }
  .c5 {
    grid-area: c-5;
  }
  .c6 {
    grid-area: c-6;
  }
}

.skills .body-skills ul {
  margin-left: 40px;
  margin-right: 40px;
}
.skills .body-skills ul li {
  width: 100%;
  height: 30px;
  background-color: #dddada;
  margin-bottom: 60px;
  position: relative;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills .image-skills {
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  height: 100%;
}
.skills .image-skills img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .skills .image-skills {
    display: none;
  }
}
.b-11 {
  width: 90%;
  height: 30px;
  background-color: var(--main-color);
}
.b-22 {
  width: 85%;
  height: 30px;
  background-color: var(--main-color);
}
.b-33 {
  width: 80%;
  height: 30px;
  background-color: var(--main-color);
}
.b-44 {
  width: 87%;
  height: 30px;
  background-color: var(--main-color);
}
.d-11::before {
  content: "HTML";
  position: absolute;
  top: -22px;
}
.d-22::before {
  content: "Css";
  position: absolute;
  top: -22px;
}
.d-33::before {
  content: "javascript";
  position: absolute;
  top: -22px;
}
.d-44::before {
  content: "bootstrap 5";
  position: absolute;
  top: -22px;
}
.hu {
  position: absolute;
  top: -30px;
  right: -16px;
}
.skills .body-skills ul li .b55 {
  position: relative;
}

.HOW-IT-WORKS {
  background-color: #ececec;
  padding-top: 5%;
  padding-bottom: 10%;
}
.HOW-IT-WORKS .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.HOW-IT-WORKS .container > .image {
  width: 100%;
  height: 100%;
}
.HOW-IT-WORKS .container > .image img {
  width: 100%;
  height: 100%;
}
.o0 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.o0 .image {
  z-index: 1;
  width: 30%;
  height: 60%;
  margin-right: 5%;
  margin-left: 5%;
}
.o0 .image img {
  width: 100%;
  height: 100%;
}
.o0 > div p {
  color: #666;
}
.o0 > div .text {
  z-index: 1;
  margin-right: 10%;
}
.o0 > div {
  position: relative;
  border: 1px solid white;
  border-radius: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f6f5f5;
  overflow: hidden;
}
.o0 > div::after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  background-color: #dddddda6;
  width: 50%;
  height: 0%;
  top: 50%;
  right: 75%;
  z-index: 0;
}
.o0 > div:hover::after {
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .HOW-IT-WORKS .container {
    display: flex;
    flex-direction: column;
  }
  .o0 > div {
    display: flex;
    flex-direction: column;
  }
  .o0 > div .text {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }
  .o0 .image {
    width: 10%;
    height: 20%;
  }
}
@media (max-width: 768px) {
  .o0 > div {
    display: flex;
    flex-direction: column;
  }
  .o0 .image {
    width: 15%;
    height: 30%;
    margin-right: 5%;
    margin-left: 5%;
  }
}
.LATEST-EVENTS {
  margin-top: 5%;
  padding-bottom: 15%;
}
.LATEST-EVENTS .container {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.LATEST-EVENTS .container .text p {
  color: #666;
}
.LATEST-EVENTS .container .image {
  width: 50%;
  height: 50%;
}
.LATEST-EVENTS .container .image img {
  width: 100%;
  height: 100%;
}
.tow-opj {
  padding-top: 0%;
  padding-bottom: 5%;
}
.LATEST-EVENTS .container .tow-j .j-4 > div {
  width: 75px;
  height: 140px;
  border: 1px solid #828282;
  border-radius: 5%;
}
.LATEST-EVENTS .container .tow-j .j-4 {
  display: flex;
  gap: 10px;
}
.LATEST-EVENTS .container .tow-j .j-4 > div:hover {
  border: 1px solid var(--main-color);
}
.LATEST-EVENTS .container .tow-j .j-4 > div h2 {
  color: var(--main-color);
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}
.LATEST-EVENTS .container .tow-j .j-4 > div p {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.LATEST-EVENTS .container .tow-j .j-4 > div p::after {
  content: "";
  position: absolute;
  background-color: #828282;
  right: 0;
  width: 100%;
  height: 0.5px;
}
.LATEST-EVENTS .container .tow-j .j-4 > div:hover p::after {
  background-color: var(--main-color);
}
.email {
  border-radius: 50px;
  padding: 20px;
  border: none;
  width: 360px;
  position: absolute;
  left: 35px;
  top: 20%;
}
.email:hover {
  border: none;
}
.email0 {
  margin-left: 30%;
  margin-right: 50%;
  margin-top: 50px;
  border-radius: 50px;
  padding: 20px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #f6f5f5;
  width: 500px;
  height: 100px;
  position: relative;
}
.Subscribe {
  border-radius: 50px;
  padding: 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  width: 100px;
  position: absolute;
  right: 35px;
  text-align: center;
  top: 20%;
  padding-left: 10px;
}
.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}

@media (max-width: 992px) {
  .LATEST-EVENTS .container .image {
    display: none;
  }
  .email0 {
    display: none;
  }
}
/*********************************/
.PRICING-PLANS {
  background-color: #ececec;
  padding-bottom: 20%;
  padding-top: 10%;
}
.PRICING-PLANS .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.PRICING-PLANS .container > div {
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
@media (max-width: 400px) {
  .PRICING-PLANS .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
  }
}
.PRICING-PLANS .container > div h3 {
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
  z-index: 8;
}
.PRICING-PLANS .container > div i {
  text-align: center;
  margin-left: 37%;
  margin-right: auto;
  font-size: 100px;
  color: var(--main-color);
  z-index: 1;
  position: relative;
}
.PRICING-PLANS .container > div h1 {
  color: var(--main-color);
  font-size: 60px;
  letter-spacing: -1px;
  text-align: center;
  position: relative;
  z-index: 5555;
}
.PRICING-PLANS .container > div > p {
  margin-top: -40px;
  color: #828282;
  text-align: center;
  z-index: 5555;
  position: relative;
}
.PRICING-PLANS .container > div ul li {
  color: #171717;
  font-size: 18px;
  border-top: 1px solid #c1c1c1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  position: relative;
}

.PRICING-PLANS .container > div ul li::before {
  position: absolute;
  content: "";
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-weight: 900;
  left: 5px;
  color: var(--main-color);
}
.PRICING-PLANS .container > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dddddd70;
  width: 0%;
  height: 50%;
  transition: all 0.5s;
  z-index: 0.5;
}
.PRICING-PLANS .container > div:hover::after {
  top: 0;
  left: 0;
  width: 100%;
}
.PRICING-PLANS .container > div::before {
  content: "";
  position: absolute;
  transition: all 0.5s;
  top: 50%;
  right: 0;
  background-color: #dddddd70;
  width: 0%;
  height: 50%;
}
.PRICING-PLANS .container > div:hover::before {
  width: 100%;
  height: 50%;
  z-index: 0.5;
}
.PRICING-PLANS .container > div .Choose-Plan {
  text-align: center;
  z-index: 555;
}
.PRICING-PLANS .container > div .Choose-Plan p {
  display: inline-block;
  padding: 20px;
  border: var(--main-color) 2px solid;
  padding-bottom: 15px;
  padding-top: 15px;
  color: var(--main-color);
  transition: all 0.5s;
  font-weight: bold;
  border-radius: 5px;
  z-index: 555;
  position: relative;
}
.PRICING-PLANS .container > div .Choose-Plan p:hover {
  background-color: var(--main-color);
  color: white;
  z-index: 666;
}
.the {
  position: relative;
}
.the h3::after {
  content: "";
  background-color: var(--main-color);
  height: 80px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 80%;
}
.the h3::before {
  content: "";
  color: #ffffff;
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: "\f0d8";
  font-weight: 900;
  font-size: 50px;
  top: 50px;
  left: 80%;
  z-index: 55;
}
@media (min-width: 1200px) {
  .the {
    transform: translateY(-10px);
  }
}
.TOP-VIDEOS {
  padding-top: 10%;
  padding-bottom: 20%;
}
.TOP-VIDEOS .container {
  display: flex;
  flex-direction: row;
  height: 107vh;
}
.TOP-VIDEOS .container .text ul {
  border: 1px solid #dddada;
  height: 100%;
  width: 300px;
}
.TOP-VIDEOS .container .text ul li {
  border-top: 0.5px solid #ececec;
  border-bottom: 0.5px solid transparent;
  transition: all 0.5s;
  cursor: pointer;
  padding-right: 10%;
  width: 100%;
}
.TOP-VIDEOS .container .text ul li:not(:first-child):hover {
  background-color: #f3f3f3bb;
}
.TOP-VIDEOS .container .text ul li p {
  margin-left: 10px;
  color: #828282;
  font-size: 18px;
}
.TOP-VIDEOS .container .text ul li h4 {
  font-weight: 100;
  margin-left: 10px;
  transition: all 0.5s;
  margin-bottom: 3px;
}
.TOP-VIDEOS .container .text ul li:hover h4 {
  color: var(--main-color);
}
.top {
  background-color: #e6e2e2bb;
  position: relative;
}
.top::after {
  content: "";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: "\f074";
  font-weight: 900;
  top: 20px;
  right: 10px;
}
.top h3 {
  margin-left: 10px;
}

.TOP-VIDEOS .container .image {
  height: 107vh;
  width: 70%;
  background-color: #dddada;
  position: relative;
}
.TOP-VIDEOS .container .image .imde {
  position: absolute;
  top: 10px;
  width: 90%;
  height: 60%;
  margin-left: 5%;
  margin-right: 5%;
}
.TOP-VIDEOS .container .image .imde img {
  width: 100%;
  height: 100%;
}
.TOP-VIDEOS .container .image h2 {
  position: absolute;
  bottom: 10px;
  background-color: white;
  padding: 20px;
  width: 90%;
  right: 5%;
  font-weight: 100;
}

@media (max-width: 992px) {
  .TOP-VIDEOS .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .TOP-VIDEOS .container .text ul {
    width: 100%;
  }
  .TOP-VIDEOS .container .image {
    display: none;
  }
  .TOP-VIDEOS .container .image .imde {
    display: none;
  }
  .TOP-VIDEOS .container .image h2 {
    top: 80%;
    height: 15%;
    width: 80%;
    right: 15%;
    font-size: 18px;
    margin-top: 15px;
  }
}
@media (max-width: 542px) {
  .TOP-VIDEOS .container .image {
    width: 100%;
    height: 40vh;
  }
}
.vh50 {
  padding-top: 10%;
  padding-bottom: 20%;
  background-image: url(../image/1600px_COLOURBOX17879416-ccccccccccccccccccccccccccc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.vh50 .container > h2 {
  text-align: center;
  font-size: 40px;
  color: black;
}
.vh50 .container ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.vh50 .container ul li {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.822);
  display: inline-block;
  text-align: center;
  position: relative;
  transition: all 1s;
}
.vh50 .container ul li:hover {
  background-color: white;
}
.vh50 .container ul li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  top: 0;
  right: 0;
  transition: all 1s;
  background-color: #086ec2;
  z-index: 2;
}
.vh50 .container ul li:hover::after {
  height: 100%;
}
.vh50 .container ul li::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 0%;
  bottom: 0;
  left: 0px;
  transition: all 1s;
  background-color: #086ec2;
  z-index: 2;
}
.vh50 .container ul li:hover::before {
  height: 100%;
}
.vh50 .container ul li h2 {
  font-size: 40px;
  margin-bottom: 0px;
}
.vh50 .container ul li i {
  font-size: 35px;
  margin-bottom: 0px;
}
.vh50 .container ul li p {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  color: var(--main-color);
}

.banzer .container {
  text-align: center;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banzer .container .h1 h1 {
  color: white;
}
.banzer .container .p p {
  color: white;
  font-size: medium;
}
.banzer .container .image {
  width: 300px;
  height: 300px;
}
.banzer .container .image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .banzer .container .image {
    width: 200px;
    height: 200px;
  }
}
.banzer {
  background-image: url(../image/537582.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banzer2 .container {
  text-align: center;
}
.banzer2 .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form input:focus {
  /*all*/
  outline: none;
}
.banzer2 .container form input:focus {
  outline: none;
}
.banzer2 .container form input {
  width: 40%;
  margin-left: 30%;
  border: none;
  border-bottom: solid 1px #bbb;
  background-color: #f9f9f9;
  padding: 15px;
}
.banzer2 .container form [type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.banzer2 .container form [type="submit"]:hover {
  background-color: #3e8fd2;
}
.banda {
  height: 200px;
  border: none;
  text-align: center;
}
.footer {
  background-color: #191919;
  padding-top: 5%;
  padding-bottom: 2%;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.footer .container .x1 h1 {
  font-size: 35px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer .container .x1 p {
  color: rgb(170, 163, 163);
}
.footer .container .x1 .icon i {
  color: white;
  font-size: 20px;
  padding: 15px;
  background-color: #2f2e2e;
}
.footer .container .x1 .icon i:hover {
  background-color: blue;
}
.footer .container .x1 .icon .fa-youtube:hover {
  background-color: red;
}
.footer .container .x1 .icon .fa-twitter:hover {
  background-color: #2196f3;
}
.footer .container .x2 ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .container .x2 ul li a {
  position: relative;
  transition: all 0.3s;
}
.footer .container .x2 ul li a:hover {
  margin-left: 40px;
}
.footer .container .x2 ul li a::before {
  content: "";
  position: absolute;
  color: var(--main-color);
  font-family: "Font Awesome 6 Free";
  content: "\f101";
  font-weight: 900;
  left: -20px;
}
.footer .container .x2 ul li:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 0.1px white solid;
}
.footer .container .x2 li a {
  color: white;
  margin-left: 20px;
}
@media (max-width: 992px) {
  .footer .container .x2 ul li {
    text-align: center;
  }
  .footer .container .x1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .container .x1 p {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.footer .container .x3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .container .x3 p {
  margin-left: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.footer .container .x3 p:last-child::before {
  content: "";
  position: absolute;
  color: var(--main-color);
  font-family: "Font Awesome 6 Free";
  content: "\f3ce";
  font-weight: 900;
  font-size: 25px;
  top: 0px;
  left: -43px;
}
.footer .container .x3 p:first-child::before {
  content: "";
  position: absolute;
  color: var(--main-color);
  font-family: "Font Awesome 6 Free";
  content: "\f3c5";
  font-weight: 900;
  font-size: 25px;
  top: 0px;
  left: -43px;
}
.footer .container .x3 p:nth-child(2)::before {
  content: "";
  position: absolute;
  color: var(--main-color);
  font-family: "Font Awesome 6 Free";
  content: "\f017";
  font-weight: 900;
  font-size: 25px;
  top: 0px;
  left: -43px;
}
.footer .container .x4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.footer .container .x4 > div {
  width: 80px;
  height: 80px;
  border: 2px white solid;
}
.footer .container .x4 > div img {
  width: 100%;
  height: 100%;
}
.footer hr {
  margin-top: 10%;
}
.fn-zx {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fn-zx h3 {
  color: white;
  font-size: large;
}
@media (max-width: 992px) {
  .banzer2 .container form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .banzer2 .container form input {
    width: 100%;
    margin-left: 0%;
  }
  .footer .container .x3 p {
    font-size: 15px;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .footer .container .x3 p:first-child::before {
    content: "";
    position: absolute;
    color: var(--main-color);
    font-family: "Font Awesome 6 Free";
    content: "\f3c5";
    font-weight: 900;
    font-size: 25px;
    left: 48%;
    top: -40px;
  }
  .footer .container .x3 p:last-child::before {
    content: "";
    position: absolute;
    color: var(--main-color);
    font-family: "Font Awesome 6 Free";
    content: "\f3ce";
    font-weight: 900;
    font-size: 25px;
    left: 48%;
    top: -40px;
  }
  .footer .container .x3 p:nth-child(2)::before {
    content: "";
    position: absolute;
    color: var(--main-color);
    font-family: "Font Awesome 6 Free";
    content: "\f017";
    font-weight: 900;
    font-size: 25px;
    left: 48%;
    top: -38px;
  }
  .footer .container .x3 {
    text-align: center;
    margin-top: 20px;
  }
  .footer .container .x4 {
    display: flex;
  }
}
@media (max-width: 492px) {
  .footer .container .x3 p {
    font-size: 14px;
  }
}
/********js*/
.hidden {
  display: none;
}
